.Te {
  
  color: white;
  margin:40px;
  padding: 80px;
  font-size:20px;
  font-weight: bold;
  text-transform: uppercase;
  background:greenyellow;
  
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid darkblue;
}



 